body,ul,li{
    margin:0;
    padding:0;
}
body{
    display:block;
}
header{
    width:100%;
    height:50px;
    background-color:#3F3F4F;
    position:fixed;
    top:0;
    z-index:9999;
    font-family: garamond-premier-pro-display, serif;
    margin:0 auto;
}
*{
    box-sizing:border-box;
    text-align:center;
}
a{
    text-decoration:none;
}
h3{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
li{
    list-style:none;
    float:left;
}
img{
    vertical-align: bottom;
}
header a{
    display:inline-block;
    color:white;
}
.header-name{
    display:block;
    color:red;
    font-style: italic;
    font-weight: 700;
    font-size:36px;
    line-height: 1.5;
    margin-left:5%;
    position:absolute;
    top:3%;
    left:0;
}
.clear{
    clear:both;
}
.header-img{
    width:80%;
    height:60vh;
    display:block;
}
.menu-icon{
    display:none;
}
.header-right{
    position:absolute;
    top:30%;
    right:0;
}
.despe-menu li{
    font-size:20px;
    margin-right:30px;
}
.contents{
    margin-top:160px;
    display: block;
    position: relative;
    margin:50px 10% auto;
    box-shadow: 0 0 100px rgba(0,0,0,.2);
    background-color: rgba(255,255,255,0.5);
    text-decoration: none;
}
.cat {
    display: inline-block;
    position: relative;
    text-decoration: none;
  }
  .cat::after {
    position: absolute;
    content: '';
    bottom: .2em;
    left: 0;
    width: 100%;
    height: 1px;
    opacity: 0;
    background: rgb(255, 255, 255);
    transition: all .3s ease 0s;
  }
  .cat:hover {
    cursor: pointer;
  }
  .cat:hover::after {
    bottom: 0;
    opacity: 1;
  }
.despe-img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
}
.despe-img::before{
    display:block;
    padding-top:50%;
    content:'';
}
.top-heading{
    font-family:"游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    font-style:normal;
    font-weight:700;
}
.p-heading{
    font-family:"游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    font-size:2vw;
    font-weight:300;
    margin-top:50px;
    font-weight:bold;
}
.p-heading span{
    font-family:"游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    color:red;
    font-weight:bold;
}
.top-performance{
    margin-top:100px;
}

.second{
    position: relative;
    left:10%;
    top: -30px;
    height: 5px;
    background-color: black;
    width: 10%;
}
.same-one{
    font-family:garamond-premier-pro-display, serif;
    font-size:3em;
}
.same-two{
    font-family:garamond-premier-pro-display, serif;
    font-size:1.5em;
    margin-left:40%;
    margin-top:-1%;
}
.record{
    margin-top:100px;
}
.record img{
    width: 60%;
}
.tour{
    font-style: italic;
    font-size:1.5em;
}
.result{
    font-size:2.5em;
    font-family:garamond-premier-pro-display, serif;
    font-weight:bold;
    color:red;
    margin-top:-1%;
    padding-bottom:10%;
}
#wrapper{
    background-image:url(https://pbs.twimg.com/media/EK9ULYUU8AE4wSy?format=jpg&name=small);
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}
footer{
    margin-top:0%;
    margin-top:0%;
    background-color:black;
}
.foot p{
    color:white;
    margin-top:0%;
    margin-block-end: 0em;
    margin-block-start: 0em;
}


.despe-img{
    animation-name:fade-in;
    animation-duration:6s; 
    animation-timing-function: ease-out;
    animation-delay:0s;
    animation-iteration-count:1;
    animation-direction:normal; 
    animation-fill-mode: forwards;
  }
  @keyframes fade-in{
      0% {opacity: 0; transform: translate3d(0,-20px,0);}
      100% {opacity: 1; transform: translate3d(0,0,0);}
    }
.top-heading{
    animation-name:fade-in2;
    animation-duration:8s; 
    animation-timing-function: ease-out; 
    animation-delay:0s; 
    animation-iteration-count:1;
    animation-direction:normal; 
    animation-fill-mode: forwards; 
  }
  
  @keyframes fade-in2{
    0% {opacity: 0; transform: translate3d(0,20px,0);}
    100% {opacity: 1; transform: translate3d(0,0,0);}
  }
  .p-heading{
    animation-name:fade-in3;
    animation-duration:10s; 
    animation-timing-function: ease-out; 
    animation-delay:2s; 
    animation-iteration-count:1;
    animation-direction:normal; 
    animation-fill-mode: forwards; 
  }
  
  @keyframes fade-in3{
    0% {opacity: 0; transform: translate3d(0,20px,0);}
    100% {opacity: 1; transform: translate3d(0,0,0);}
  }
   
